{% extends "main.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
</head>

<body class="container">
    <div class="row">
        <a name="" id="" class="btn col-sm-1" href="/add" role="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add User</a>
        <form action="/" method="post" class="col-sm-6">
            <div class="form-group">
            <label for="search">Search: </label>
            <input type="text" name="fname" placeholder="search" class="form-input">
            <input type="hidden" name="form_type" value="search">
            </div>
        </form>
        <form method="post" class="col-sm-6" id="filter-form">
            <select name="order" id="order">
                <option value="f_name">First Name</option>
                <option value="l_name">Last Name</option>
                <option value="email">Email</option>
                <option value="mobno">Mobile No.</option>
            </select>
            <!-- <input type="radio" name="filter-order" id="" value="asc" checked> Ascending
            <input type="radio" name="filter-order" id="" value="desc"> Descending -->
            <input type="hidden" name="filter-order" id="filter-order" value="DESC">
            <div id="filter-btn" style="display: inline;"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></div>
            <input type="hidden" name="form_type" value="sort">
            <!-- <input type="submit" value="Filter"> -->
        </form>
    </div>

    <div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Gender</th>
                    <th>Hobbies</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{userlist}}
                {% for i in userlist %}
                    <tr>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                        <td>{{i[6]}}</td>
                        <td>{{i[7]}}</td>
                        <td>{{i[8]}}</td>
                        <td>
                            <a href="/update/{{ i[0]}}">
                                <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                              </a>
                            <a href="/delete/{{ i[0]}}">
                                <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                              </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination %}
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if pagination.current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('home', page=pagination.current_page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in pagination.pages %}
                    <li class="page-item {% if page == pagination.current_page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('home', page=page) }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if pagination.current_page < pagination.pages|length %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('home', page=pagination.current_page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</body>
</html>
{% endblock content %}